<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form id="generate-form">
        <h2>Input Data Tiket</h2>
            <label class="input">
                <input type="text" name="nama" placeholder="Nama" required>
                <span class="input_label">Nama</span>
            </label>
            <label class="input">
                <input type="email" name="email" placeholder="Email" required>
                <span class="input_label">Email</span>
            </label>
            <label class="input">
                <input type="text" name="no_hp" placeholder="No HP" required>
                <span class="input_label">No HP</span>
            </label>

            <div class="button-grup">
                <button>Book</button>
                <button>Cancel</button>
            </div>
    </form>
    
</body>
</html>